<a href="https://colab.research.google.com/github/PADMASREE1999/AP/blob/master/Assignment_05_06_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CSE - 221710307059 - Tummala Sai Padmasree

###Question 1:
[Data Series]            
Write a Python program to add, subtract, multiple and divide two Pandas Series.                        
Sample Series:            
[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]        
Sample Output:                  
[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] =  [3, 7, 11, 15, 19]

In [3]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
print("Sum of two series:")
print(ds1+ds2)
print("Difference of two series:")
print(ds1-ds2)
print("Product of two series:")
print(ds1*ds2)
print("Series1/Series2:")
print(ds1/ds2)

Sum of two series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Difference of two series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Product of two series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Series1/Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

### Question 2:
[Quartiles]         
Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.      
Sample Output:           
Original Series:              
0 3.000938           
1 11.370722              
2 14.612143                 
3 8.990256                  
4 13.925283                     
5 12.056875            
.... 17 14.118931                
18 8.247458                   
19 5.526727                   
dtype: float64                         
Minimum, 25th percentile, median, 75th,  and maximum of a given series:   
[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

In [5]:
import pandas as pd
import numpy as np
state=np.random.RandomState(100)
series=pd.Series(state.normal(10,4,20))
print("Original Series:")
print(series)
print("\nMinimum,25th percentile,median,75th and maximum:")
result=np.percentile(series,q=[0,25,50,75,100])
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum,25th percentile,median,75th and maximum:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

###Question 3:
[List Difference]                 
Write a Pandas program to get the items of a given series not present in another given series.                
Sample Output:              
Original Series:             
sr1:        
0 1               
1 2              
2 3                 
3 4                  
4 5                     
dtype: int64             
sr2:               
0 2                  
1 4                        
2 6                          
3 8                        
4 10                         
dtype: int64                 
Items of sr1 not present in sr2:      
0 1                 
2 3               
4 5                  
dtype: int64

In [6]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,4,6,8,10])
print("Original Series:")
print("sr1:")
print(s1)
print("sr2:")
print(s2)
print("\nItems of sr1 not present in sr2:")
print(s1[~s1.isin(s2)])

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

###Question 4:
[Filter Words with Multiple Vowels]      
Write a Pandas program to filter words from a given series that contain at least two vowels.              
Sample Output:              
Original Series:            
0 Red                      
1 Green                          
2 Orange            
3 Pink                
4 Yellow                     
5 White                     
dtype: object                    
                     
Filtered words:                  
1 Green                        
2 Orange                     
4 Yellow                
5 White                        
dtype: object

In [7]:
import pandas as pd
from collections import Counter
color=pd.Series(['Red','Green','Orange','Pink','Yellow','White'])
print("Original Series:")
print(color)
print("Filtered words:")
result=color.map(lambda c: sum([Counter(c.lower()).get(i,0)for i in list('aeiou')])>=2)
print(color[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object
Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

###Question 5:
Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [8]:
data={'name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jones'],
      'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
      'attempts':[1,3,2,3,2,3,1,1,2,1],
      'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels =['a','b','c','d','e','f','g','h','i','j']
data=pd.DataFrame(data,dtype=np.int32)
data

        name score  attempts qualify
0  Anastasia  12.5         1     yes
1       Dima     9         3      no
2  Katherine  16.5         2     yes
3      James   NaN         3      no
4      Emily     9         2      no
5    Michael    20         3     yes
6    Matthew  14.5         1     yes
7      Laura   NaN         1      no
8      Kevin     8         2      no
9      Jones    19         1     yes

In [9]:
import pandas as pd
import numpy as np
data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data , index=labels)
print("Number of attempts in the examination is greater than 2:")
print(df[df['attempts']>2])

Number of attempts in the examination is greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes