<a href="https://colab.research.google.com/github/PADMASREE1999/AP/blob/master/python_27_05_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Headings:
# python programming
## python programming
### python programming
#### python programming
##### python programming
###### python programming

In [0]:
print("hello!!!")

hello!!!

### List of programming languages(ORDERED LIST):
1. python
2. java
3. c
4. c++
5. .NET

### List of programming languages(UNORDERED LIST):
- python
  - core python
  - adv python
- java
- c
- c++
- .NET

- **Python programming**
- *python programming*

 [click here](https://moodle.dspsinstitute.com/my/)

![image](https://i.pinimg.com/736x/7d/f0/7f/7df07f487fa52c55b4fe977926003365.jpg)

<img src="https://i.pinimg.com/736x/7d/f0/7f/7df07f487fa52c55b4fe977926003365.jpg" width=200 height=200 >

# Python
1. It is interpreted programming language
2. Different paradigms
3. open source
4. Object oriented programming language
5. Dynamically values assigned

### Guido Van Rossum

### Numeric Data types
1. int
2. float
3. complex

In [0]:
a=10 #integer
b=23.34 #float
c=12+3j #complex number

print(type(a), type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c1 = 4+5j
c2 = complex(6,8)
print(c2)
print(c1+c2)
print(c2.real) #real part of the complex number
print(c2.imag) #imaginary part of the complex number

(6+8j)
(10+13j)
6.0
8.0

## input and output functions
######input --> input()
######output --> print()

In [0]:
a = int(input("Enter the value of a"))
b = int(input("Enter value of b"))
print(a+b,end=" ")
print(a-b)
print(a*b)
print(a/b)

Enter the value of a21
Enter value of b20
41 1
420
1.05

In [0]:
a = int(input("Enter the value of a"))
b = int(input("Enter value of b"))

print(a+b,end=" ")
print(a-b,a*b,a/b,sep=",")

Enter the value of a20
Enter value of b21
41 -1,420,0.9523809523809523

- **Operators** : 
Symbol which performs some specific task
- **Operands** : 
values given to operator are known as operands

##Arithmetic operators
##### +
##### -
##### *
##### /
##### %
##### //(floor division)
##### **(exponent)

In [0]:
a = int(input("enter a value"))
b = int(input("enter b value"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)#float quotient
print(a%b)#Remainder
print(a//b)#int quotient
print(a**b)# a^b

enter a value2
enter b value5
7
-3
10
0.4
2
0
32

## Relational operators:
##### < , > , <= , => , == , !=

In [0]:
a = int(input("enter a value"))
b = int(input("enter b value"))
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

enter a value234
enter b value123
True
False
False
True
True
False

## logical operators :
  and , or , not
  --> return type - Boolean

In [0]:
print(help("keywords"))

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

None

In [0]:
print(a<b and a>1)
print(a<b or a>1)
print(not a<b)

False
True
True

##Membership operators

in , not in

In [0]:
list1 = [12,23,34,45,56,67]
print(12 in list1)
print(12 not in list1)
print(120 in list1)
print(120 not in list1)

True
False
False
True

##Conditional statements

if , else , elif

In [0]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equals to b")

a is greater than b

In [0]:
#Question : Find the largest of three numbers
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if (a>b and a>c):
  print("a is largest:",a)
elif  b>c:
  print("b is largest:",b)
else:
  print("c is largest:",c)

enter a value12
enter b value13
enter c value14
c is largest: 14

##Loops

while , for

In [0]:
#print 1 to n values
n= int(input("enter n value"))
i=1
while i<=n:
  print(i)
  i+=1 #i=i+1

enter n value10
1
2
3
4
5
6
7
8
9
10

In [0]:
#print 1 to n values
n= int(input("enter n value"))
i=1
while i<=n:
  print(i,end=" ")
  i+=1 #i=i+1

enter n value10
1 2 3 4 5 6 7 8 9 10

In [0]:
#print sum of n values